<div class="blog_post">
	<h2><a href="/blog/<%= post.slug %>"><%= post.title %></a></h2>
	<span class="post_date"><%= post.posted_date.to_s(:us_date) %></span><br />
	<!--<span class="post_author"><%= post.author %></span>-->
	<div class="post_body">
		<%= post.body.html_safe %>
	</div><!-- end post_body -->
	<div class="tags">
		<% post.tags.each do |t| %>
			<a href="/blog/tag/<%= t %>">
				<%= t %>
			</a>
		<% end %>
	</div><!-- end tags -->
</div><!-- end blog_post -->