<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />-->
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
		<meta name="theme-color" content="#011722">
    <title><%= content_for?(:title) ? yield(:title) : "wreetco" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>		
		<!-- nav bar -->
		<div class="" id="nav-contain">
			<nav class="row top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<!--<h1><%= link_to "wreetco", root_url %></h1>-->
						<h1><a href="/"><img src="/assets/wreetco_icon_alt.png" style="max-height: 35px;"/> wreetco</a></h1>
					</li>
					 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>
				<section class="top-bar-section">
					<!-- Right Nav Section -->
					<ul class="right">
						<!--
						<li class="has-dropdown">
							<a href="#">apps</a>
							<ul class="dropdown">
								<li><a href="/project#/weightlogger">Weight Logger</a></li>
								<li><a href="#">sms sync</a></li>
								<li><a href="#">wimbl</a></li>
							</ul>
						</li>
						-->
						<!--
						<li class="has-dropdown">
							<a href="#">code</a>
							<ul class="dropdown">
								<li><a href="#">MEAN Wreed</a></li>
							</ul>
						</li>
						-->
					</ul>

					<!-- Left Nav Section -->
					<ul class="right">
						<li><%= link_to "blog", "/blog", controller: "blog_posts", action: "index" %></li>
						<li><a href="javascript:scrollTo('#contact');">Contact</a></li>
					</ul>
				</section>
			</nav>
		</div>
		<!-- content follows -->
    <%= yield %>
		<!-- footer content follows -->
		<div class="footer" id="contact"><!-- is our primary contact form for now -->
			<div class="row">
				<div class="small-12 medium-7 columns">
					<h3>Get in touch</h3>
					<%= render '/contact/contact_form' %>
				</div><!-- end form col -->
				<div class="small-12 medium-5 columns">
					<h4 style="visibility: hidden;">contact</h4>
					<span style="visibility: hidden;">You can also email us or 
						find us on social media.</span>
					<br /><br />
					<span class="highlight">Social</span>
					<div class="social" style="margin-top: 10px;">
						<ul class="small-block-grid-8">
							<li>
								<img src="/assets/facebook_icon.png" alt="Facebook" />
							</li>
							<li>
								<a href="https://twitter.com/tzdev" target="_blank">
									<img src="/assets/twitter_icon.png" alt="Twitter" />
								</a>
							</li>
							<li>
								<img src="/assets/google_plus_icon.png" alt="Google+" />
							</li>
							<li>
								<a href="https://github.com/wreetco" target="_blank">
									<img src="/assets/github_icon.png" alt="Github" />
								</a>
							</li>
						</ul>
					</div>
					<span class="highlight">Email</span><br />
					info@wreet.co
					<br />
					<br />
					1107 Pennsylvania St #10<br />
					Denver, CO 80203
				</div>
			</div><!-- end row -->
			<script>
				// fix the name fields
				var divs = $('.footer .medium-6');
				for (var i = 0; i < divs.length; i++) {
					//divs[i].className = "columns small-12";
				}
				// setup the headroom menu
				Headroom.options.offset = 0; // how far down until we start the hiding feature
				Headroom.options.tolerance = 5; // how many px to allow before pin/unpin (10 is pretty nice, I find)
				var hr = new Headroom($('#nav-contain')[0]);
				hr.init();
			</script>
		</div><!-- end footer -->
		<!-- google analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-63656076-1', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- end analytics -->
  </body>
</html>






