<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#195962">
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>		
		<!-- nav bar -->
		<div class="sticky">
			<nav class="top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><%= link_to "wreetco", root_url %></h1>
					</li>
					 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>
				<section class="top-bar-section">
					<!-- Right Nav Section -->
					<ul class="right">
						<li class="has-dropdown">
							<a href="#">apps</a>
							<ul class="dropdown">
								<li><a href="/project#/weightlogger">Weight Logger</a></li>
								<!--
								<li><a href="#">sms sync</a></li>
								<li><a href="#">wimbl</a></li>
								-->
							</ul>
						</li>
						<!--
						<li class="has-dropdown">
							<a href="#">code</a>
							<ul class="dropdown">
								<li><a href="#">form validator</a></li>
								<li><a href="#">js graphs</a></li>
							</ul>
						</li>
						-->
					</ul>

					<!-- Left Nav Section -->
					<ul class="right">
						<li><%= link_to "blog", "/blog", controller: "blog_posts", action: "index" %></li>
						<!--<li><%= link_to "about", controller: "about" %></li>-->
						<li><li><%= link_to "contact", controller: "contact" %></li></li>
					</ul>
				</section>
			</nav>
		</div>
		<!-- content follows -->
    <%= yield %>
		<!-- footer content follows -->
		<div class="footer">
			<div class="row">
				<div class="small-12 medium-3 columns">
					<h4>Get in touch</h4>
					<%= render '/contact/contact_form' %>
				</div><!-- end form col -->
				<div class="small-12 medium-1 columns">
					&nbsp;
				</div>
				<div class="small-12 medium-3 columns">
					<h4>contact</h4>
					You can also email us or 
					find us on social media. 
					<br /><br />
					<span class="highlight">Email</span><br />
					info@wreet.co
					<br />
					We'll get back to you as soon as we can. 
					<br /><br />
					<span class="highlight">Social</span>
					<div class="row" style="margin-top: 10px;">
						<div class="columns small-3">
							<img src="/assets/facebook_icon.png" alt="Facebook" />
						</div>
						<div class="columns small-3">
							<a href="https://twitter.com/tzdev" target="_blank">
								<img src="/assets/twitter_icon.png" alt="Twitter" />
							</a>
						</div>
						<div class="columns small-3">
							<img src="/assets/google_plus_icon.png" alt="Google+" />
						</div>
						<div class="columns small-3">
							<a href="https://github.com/wreetco" target="_blank">
								<img src="/assets/github_icon.png" alt="Github" />
							</a>
						</div>
					</div>
				</div>
				<div class="small-12 medium-1 columns">
					&nbsp;
				</div>
				<div class="small-12 medium-4 columns">
					<h4>Other Stuff</h4>
				</div>
			</div><!-- end row -->
			<script>
				// fix the name fields
				var divs = $('.footer .medium-6');
				for (var i = 0; i < divs.length; i++) {
					divs[i].className = "columns small-12";
				}
			</script>
		</div><!-- end footer -->
  </body>
</html>
